body{
    height: 99vh; width: 100vw;
    overflow: hidden;
}

/*FOOTER*/
#left-footer{
    display: flex; gap: 20px;
}
#nav-btns{
    display: flex; gap: 10px;
}
.nav-btn{
    height: 32px; width: 32px;
    background-color: #a89a8a;
    border: none;
    border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
    position: relative;
    z-index: 2;
}
.nav-btn > img{
    height: 18px
}
#back-btn{
    padding-left: 6px;
}
.nav-btn:hover{
    cursor: pointer;
    background-color: #766a5e;
}
#recipe-num{
    display: flex; justify-content: center; align-items: center;
}
#all-num{
    position: absolute;
    color: rgba(238, 224, 207, 0.3);
    font-size: 36px;
}
#all-num > span{
    margin-left: 4px;
}
#curr-num{
    color: #fffbf0;
}
#recipe-credit{
    color: #fffbf0;
    background-color: #a89a8a;
    border-radius: 15px;
    width: 200px;
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
}
#recipe-credit > p{
    font-weight: lighter;
    font-size: 12px;
}
#recipe-credit:hover{
    background-color: #766a5e;
    cursor: default;
}
#recipe-credit > *:hover, #recipe-credit > *{
    cursor: default;
}

/*MAIN*/
main{
    flex: 2;
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;
    min-width: 100vw;
    position: relative; z-index: 1;
}
#bg-oval{
    height: 25vw; width: 25vw;
    background-color: #a89a8a;
    border-radius: 50%;
}

#slides{
    position: absolute;
    left: 0;
    width: 300vw;
    display: flex;
    transition: all 1.5s;
}
.slide{
    width: 100vw;
    display: flex; justify-content: center; align-items: center;
}
.slide h1{
    color: #fffbf0;
    font-size: 60px;
}
.slide:hover{
    cursor: pointer;
}
.slide-img{
    width: 30vw;
}

/*MOBILE- LAST (Sorry)*/
@media only screen and (max-width: 600px) {
    #bg-oval{
        height: 50vw; width: 50vw; 
    }
    .slide{
        flex-direction: column;
    }
    #recipe-num{
        display: none;
    }
    .slide-img{
        width: 50vw;
    }
    #recipe-credit{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .slide-title-left{
        text-align: right;
        margin-right: -4vw;
    }
    .slide-title-right{
        text-align: left;
        margin-left: -4vw;
    }
    .slide h1{
        width: 25vw;
    }
}