@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
:root{
    --main-bg-color: #c4b4a2;
}
body{
    background-color: var(--main-bg-color);
    height: 99vh; width: 100vw;
    overflow: hidden;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
body > *{
    width: 100%;
}

/*DRAWER*/
#drawer{
    position: absolute; z-index: 5;
    height: calc(100vh - 80px); width: 300px;
    top: 70px; right: 14px;
    display: flex; flex-direction: column; justify-content: space-between;
    background-color: #766a5e; color: #fffbf0;
    border-radius: 20px;
    display: none;
}
#drawer p{
    text-align: center;
    padding-bottom: 12px;
}
#drawer hr{
    border: none;
    border-bottom: 1px solid #c4b4a2;
}
#drawer a{
    text-decoration: none;
    color: #fffbf0;
    font-size: 18px;
}
#drawer .brand, #drawer a{
    margin-left: 24px;
}
#drawer p:hover{
    cursor: default;
}
#drawer a:hover{
    text-shadow: 1px 1px 2px rgb(255, 115, 0);
}
#drawer-top{
    display: flex; flex-direction: column;
    padding: 12px 0;
    gap: 12px;
}
#drawer .brand, #d-about{
    height: 72px;
    display: flex; flex-direction: column; justify-content: center;
}
#d-about{
    height: 48px;
}

/*HEADER*/
header{
    height: 100px;
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px;
    position: relative; z-index: 3;
}
.brand{
    text-transform: uppercase;
    color: #fffbf0;
}
.brand > h2:nth-of-type(2){
    margin-top: -15px;
}
.brand:hover{
    cursor: pointer;
    color: #766a5e;
}
#drawer .brand:hover{
    color: #fffbf0;
    text-shadow: 1px 1px 2px rgb(255, 115, 0);
}
#right-header{
    display: flex; gap: 20px;
}
#search{
    height: 32px; width: 240px;
    background-color: #a89a8a;
    border-radius: 20px;
    display: flex; align-items: center;
    padding: 0 10px;
}
#search > input{
    background: transparent;
    border: none;
    margin-left: 4px;
}
input::placeholder{
    color: #d6d2c7;
}
input:focus{
    border: none;
    outline: none;
    color: wheat;
}
#menu{
    height: 32px; width: 32px;
    background-color: #a89a8a;
    border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
}
#menu-icon{
    opacity: 0.7;
}
#menu:hover, #search:hover{
    cursor: pointer;
    background-color: #766a5e;
}

/*FOOTER*/
footer{
    display: flex; justify-content: space-between; align-items: center;
    height: 50px;
    padding: 0 20px;
}
