@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
:root{
    --main-bg-color: #c4b4a2;
}
body{
    background-color: var(--main-bg-color);
    height: 99vh; width: 100vw;
    overflow: hidden;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
body > *{
    width: 100%;
}
/*HEADER*/
header{
    max-height: 100px;
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px;
    position: relative; z-index: 3;
}
#brand{
    text-transform: uppercase;
    color: #fffbf0;
}
#brand > h2:nth-of-type(2){
    margin-top: -15px;
}
#right-header{
    display: flex; gap: 20px;
}
#search{
    height: 32px; width: 240px;
    background-color: #a89a8a;
    border-radius: 20px;
    display: flex; align-items: center;
    padding: 0 10px;
}
#search > input{
    background: transparent;
    border: none;
    margin-left: 4px;
}
input::placeholder{
    color: #d6d2c7;
}
input:focus{
    border: none;
    outline: none;
    color: wheat;
}
#menu{
    height: 32px; width: 32px;
    background-color: #a89a8a;
    border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
}
#menu-icon{
    opacity: 0.7;
}
#menu:hover, #search:hover{
    cursor: pointer;
    background-color: #766a5e;
}
/*FOOTER*/
footer{
    display: flex; justify-content: space-between; align-items: center;
    height: 50px;
    padding: 0 20px;
}
#left-footer{
    display: flex; gap: 20px;
}
#nav-btns{
    display: flex; gap: 10px;
}
.nav-btn{
    height: 32px; width: 32px;
    background-color: #a89a8a;
    border: none;
    border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
    position: relative;
    z-index: 2;
}
.nav-btn > img{
    height: 18px
}
#back-btn{
    padding-left: 6px;
}
.nav-btn:hover{
    cursor: pointer;
    background-color: #766a5e;
}
#recipe-num{
    display: flex; justify-content: center; align-items: center;
}
#all-num{
    position: absolute;
    color: rgba(238, 224, 207, 0.3);
    font-size: 36px;
}
#all-num > span{
    margin-left: 4px;
}
#curr-num{
    color: #fffbf0;
}
#recipe-credit{
    color: #fffbf0;
    background-color: #a89a8a;
    border-radius: 15px;
    width: 200px;
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
}
#recipe-credit > p{
    font-weight: lighter;
    font-size: 12px;
}
/*MAIN*/
main{
    flex: 2;
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;
    min-width: 100vw;
    position: relative; z-index: 1;
}
#bg-oval{
    height: 25vw; width: 25vw;
    background-color: #a89a8a;
    border-radius: 50%;
}

#slides{
    position: absolute;
    left: 0;
    width: 300vw;
    display: flex;
    transition: all 1.5s;
}
.slide{
    width: 100vw;
    display: flex; justify-content: center; align-items: center;
}
.slide h1{
    color: #fffbf0;
    font-size: 60px;
    width: 25vw;
}
#slide-img{
    width: 30vw;
}
#slide-title-left{
    text-align: right;
    margin-right: -4vw;
}
#slide-title-right{
    text-align: left;
    margin-left: -4vw;
}