@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
    min-height: 99vh; width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}

/*MAIN*/
main{
    flex: 2;
    display: flex; align-items: center; flex-direction: column;
    overflow: hidden;
    min-width: 100vw;
    position: relative; z-index: 1;
    color: #fffbf0;
}

.visuals{
    display: flex; align-items: center; flex-direction: column;
}

#recipe-title{
    top: 0;
    text-align: center;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
#title-cursive{
    position: relative;
    z-index: 2;
    font-family: 'Sacramento', cursive;
    font-size: 5vw;
    font-weight: 300;
}
#title-big{
    position: relative;
    color: black;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 3vw;
    font-size: 6.4vw;
    margin-top: -5.4vw;
}
.expand-recipe{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.expand-recipe:hover{
    cursor: pointer;
    filter: invert(1);
}

.recipe-img{
    position: relative;
    z-index: 3;
    width: 32vw;
    height: 27vw;
    object-fit: cover;
    object-position: bottom;
    margin-top: -8vh;
    align-self: center;
}

.recipe-intro{
    width: 70vw;
    text-align: center;
    margin-top: 2vw;
    text-shadow: 1px 1px 2px #695a4c;
}

.recipe-box{
    width: 70vw;
    padding: 2vw;
    display: flex; justify-content: space-between;
}
ol, ul{
    margin-left: 15px;
}

.recipe-box h2{
    color: #766a5e;
}

/*MOBILE- LAST (Sorry)*/
@media only screen and (max-width: 600px) {
    #title-cursive{
        font-size: 15vw;
    }
    #title-big{
        letter-spacing: 3vw;
        font-size: 16vw;
        margin-top: -16vw;
    }
    .recipe-img{
        width: 50vw;
        height: 50vw;
        margin-top: -10vh;
    }
    .recipe-box{
        flex-direction: column;
        width: 80vw;
    }
    .recipe-box h2{
        text-align: center;
        margin-top: 4vw;
    }
    .recipe-intro{
        width: 80vw;
        font-size: 14px;
    }
    .expand-recipe{
        display: none;
    }
}